:root {
    --primary-color: #262F33;
    --primary-color-light: #405058;
    --secondary-color: #329ED5;


    --accent-success: #10B981;
    --accent-warning: #F59E0B;
    --accent-error: #EF4444;
    --accent-info: #3B82F6;

    --background-color: #F3F6F4;

    /* Add shadow colors for consistency */
    --shadow-light: rgba(0, 0, 0, 0.1);
    --shadow-medium: rgba(0, 0, 0, 0.15);
}

body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/Museo-100.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/Museo-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/Museo-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/Museo-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
